@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

*{
    margin:0;
    padding:0;
}

header{
    display:flex;
    justify-content: space-between;
    padding: 21px 8%;
    position: sticky;
}


li,a{
    font-family: Rubik;
    list-style: none;
    text-decoration: none;
}

.navp1{
    width: 120px;
    height: 36px;
    top: 50px;
    left: 100px;
}

.navp2{
    /* text-decoration: none; */
    list-style: none;
}

.navp2 li{
    display: inline-block;
    padding: 0px 20px;
}

#hometext{
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
}

.ntext{
    text-decoration: none;
}
.navp3{
    list-style: none;
} 

.navp3 li{
    display: inline-block;
    padding: 0px 20px;
} 

.navbarimgs{
    width: 30px;
    height: 29.8076229095459px;
    top: 54.967926025390625px;
    left: 1170px;
    padding: 4.249536037445068px 3.9737110137939453px 3.948225498199463px 4.276939392089844px;
    border-radius: 10px;
}

.herosection{
    display:flex;
    background-image: linear-gradient(90deg, rgba(252, 203, 144, 0.44) 0%, rgba(255, 154, 158, 0.38) 100%);
    margin: 5%;
    justify-content: center;
    border-radius: 20px;
}

.herotext{
    display: block;
    align-items: flex-start;
    width: 219px;
    height: 23px;
    top: 256px;
    left: 156px;
    font-family: Rubik;
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    padding-top: 20%;
    padding-bottom: 50px;
}

.heroimg{
    display: block;
    align-items: flex-start;
    width: 477px;
    height: 109px;
    top: 304px;
    left: 156px;
}

.herotextbottom{
    display: block;
    align-items: flex-start;
    font-family: Rubik;
    font-size: 24px;
    font-weight: 400;
    line-height: 31px;
    letter-spacing: 0em;
    text-align: left;
    left: 156px;
    padding-left: 2%;
}

.bnbtn{
    display: block;
    align-items: flex-start; 
    width: 210px;
    height: 60px;
    top: 543px;
    left: 146px;
    border-radius: 10px;
    background: linear-gradient(180deg, rgba(255, 81, 81, 0.5) 0%, #FF5E3A 100%);
    border: none;
    color: white;
}

.heroineimg{
    display: block;
}

/* .collectionssection{
    display: flex;
} */

.ctext{
    display: flex;
    justify-content: center;
    font-family: Roboto;
font-size: 16px;
font-weight: 400;
line-height: 25px;
letter-spacing: 0em;
text-align: left;

}

.cimage{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 6px;
    top: 90%;
    left: 48%;
   
}

.ctext2{
    padding-top: 3%;
    display: flex;
    justify-content: center;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
}

.cul{
    list-style: none;
    display: flex;
    justify-content:space-between;
    padding-left: 35%;
    padding-right: 35%;
    padding-top: 3%;
}

#cbtn1{
    width: 130px;
    height: 60px;
    top: 960px;
    left: 385px;
    border-radius: 10px;
    box-shadow: 0px 8px 10px 0px #0000000D;
    border: none;
    color: #4F5665;
}

#cbtn2{
    width: 130px;
    height: 60px;
    top: 960px;
    left: 565px;
    border-radius: 10px;
    box-shadow: 0px 8px 10px 0px #0000000D;
    border: none;
    background: linear-gradient(180deg, rgba(255, 81, 81, 0.5) 0%, #FF5E3A 100%);
    color: white;
}

#cbtn3{
    width: 130px;
    height: 60px;
    top: 960px;
    left: 745px;
    border-radius: 10px;
    box-shadow: 0px 8px 10px 0px #0000000D;
    border: none;
    color: #4F5665;
}

#cbtn4{
    width: 130px;
    height: 60px;
    top: 960px;
    left: 745px;
    border-radius: 10px;
    box-shadow: 0px 8px 10px 0px #0000000D;
    border: none;
    color: #4F5665;
}

.btn2 {
    border: none !important;
    color: white;
    border-radius: 0.625rem;
    background: linear-gradient(180deg, rgba(255, 81, 81, 0.50) 0%, #FF5E3A 100%);
    font-size: 1rem;
    width: 180px;
    height: 60px;
}

.herotext>img {
    width: 40vw;
}

.heroright>img {
    width: 30vw;
    height: 60vh;
    flex: 3;
}

.collection-btns,
.collection {
    text-align: center;
}

.my-btn {
    border-radius: 0.625rem;
    background: #FFF;
    box-shadow: 0px 10px 12px 0px rgba(0, 0, 0, 0.05);
    color: #4F5665;
    font-weight: 900;
    border: none;
    height: 60px;
    width: 100px;
    margin-bottom: 10px;
}

.btn3 {
    background: linear-gradient(180deg, rgba(255, 81, 81, 0.50) 0%, #FF5E3A 100%);
    border: none !important;
    color: white;
}

.my-btn:hover {
    background: linear-gradient(180deg, rgba(255, 81, 81, 0.50) 0%, #FF5E3A 100%);
    border: none;
    color: white !important;
}

.my-card1 {
    border-radius: 1.5625rem;
    background: #FFF;
    box-shadow: 0px 20px 70px 5px rgba(0, 0, 0, 0.02);
    overflow: hidden;
    border: none;

}

.btn-rs {
    height: 20px;
    font-size: small;
    border-radius: 0.625rem;
    background: #FF5E3A;
    width: 60px;
    text-align: center;
    color: white !important;
}

.image {
    height: 210px;
    position: relative;
    padding: 10px !important;
    background: linear-gradient(180deg, rgba(252, 203, 144, 0.44) 0%, rgba(255, 154, 158, 0.38) 100%);
}

#favicon {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 8px;
    right: 16px;

}

.image>img {
    width: 90%;
    height: 90%;
}

.card-body {
    background-color: white;
}

.image1>img {
    width: 40vw;
}

.left {
    justify-content: space-between;
}

.left,
.right {
    flex: 2;
}

.my-card2 {
    width: 14rem !important;
    border-radius: 1.5625rem;
    background: #FFF;
    box-shadow: 0px 20px 70px 5px rgba(0, 0, 0, 0.02);
    overflow: hidden;
    border: none;
    margin-bottom: 0.7rem;

}

.btn-rs2 {
    height: 20px;
    font-size: small;
    border-radius: 0.625rem;
    width: 60px;
    text-align: center;

    color: #909090 !important;
}

.card-text2 {
    font-size: 12px;
    word-wrap: normal;
    width: 10rem;
}

.rs-text {
    font-size: 8px;
    border: none;
}

#favicon2 {
    position: absolute;
    width: 35px;
    height: 35px;
    top: 8px;
    right: 16px;

}

.color {
    background: rgba(252, 203, 144, 0.15) !important;
}

.container2 {
    padding: .5em !important;
}

.brandName {
    color: #FF5E3A;
    font-family: Rubik;
    font-size: 1.25rem;
    justify-content: center;
    align-content: center;
    padding-bottom: 0;
    margin-bottom: 0;
    text-align: center;
}

#bttext {
    color: #4F5665;
    font-family: Rubik;
    font-size: 0.9rem;
    line-height: 1.875rem;
    /* 187.5% */
    width: 15.875rem;
}

#bttext2 {
    color: #FF5E3A;
    font-family: Rubik;
    font-size: 0.9rem;
    line-height: 1.875rem;
    /* 187.5% */
    width: 15.875rem;
}

.table-1 {
    padding: 0.3rem;
    font-size: 1.5rem;
}

.table-1>thead {
    font-weight: 700;
}

.table-1>tbody {
    color: #4F5665;
    font-family: Rubik;
    font-size: 1rem;
    line-height: 1.875rem;
    /* 187.5% */
}

.my-footer {
    justify-content: space-around;
    padding-top: 2rem;
}

.cell {
    gap: 0.3rem;
    align-items: center;
}

.conlogo {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #ff5e3a;
    align-items: center;
    display: flex;
    justify-content: center;
    padding-top: 4px;
    padding-right: 0.5px;
}

.conlogo>img {
    width: 20px;
    height: 20px;
}
.mycol-right{
    width: 60%;
    justify-content: space-between;
}

@media screen and (max-width: 768px) {
    .my-card1 {
        width: 14rem !important;
    }

    .my-card2 {
        width: 12rem !important;
    }

    .table-1 {
        padding: 0.1rem;
        font-size: 1rem;
    }

    .table-1>tbody {
        color: #4F5665;
        font-family: Rubik;
        font-size: 0.7rem;
        line-height: 1.875rem;
        /* 187.5% */
    }
    .collapse{
        margin-left: 0;
    }

}
@media screen and (max-width: 670px){
    .my-footer{
        flex-direction: column !important;
        justify-content: center !important;
        align-items: center !important;
    }
    .mycol-right{
        width: 80%;
    }
    .my-card1{
        width: 10rem !important;
    }
    .card-text{
        /* font-size: 10px; */
    }
    .row-3>img{
        width: 50%;
    }
    .card-text2{
        font-size: 10px;
    }
}
@media screen and (max-width: 425px){
    .my-card1{
        width: 08rem !important;
    }
    .card-text{
        font-size: 10px;
    }
    #favicon{
        width: 25px;
        height: 25px;
    }
    .my-btn{
        width: 50px;
        height: 30px;
        font-size: 10px;
    }
    .mycol-right{
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .herotext>p{
        font-size: 14px;
    }
}
@media screen and (max-width: 375px) {
    .my-card2{
        width: 10rem !important;
    }
    .btn-rs{
        height: 20px;
        width: 40px;
        
    }
    .rs-text{
        font-size: 6px;
    }
    .my-card1{
        flex-wrap: wrap;
    }
    .btn2{
        width: 140px;
        height: 50px;
    }
    #show{
        display: none !important;
    }
    #none{
        display: block !important;
    }
    
}
